<h1>Des gares !</h1>

<div id="list"  data-controller="map">
<%= turbo_frame_tag "station" do %>
    <ul>
    <% @stations.each do |station| %>
        <li data-map-target="station"
            data-name="<%= station.name %>"
            data-lon="<%= station.lon %>"
            data-lat="<%= station.lat %>"
        >
            <em><%= station.name %></em> <%= station.uic %>
        </li>
    <% end %>
    </ul>
    <%== pagy_nav(@pagy) %>
<% end %>
</div>

<div id="map"></div>

