// Place all the styles related to the Stations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#list {
    width: 45%;
    float: left;
}

#map {
    width: 45%;
    height: 500px;
    float: right;
}
